What if we want to populate a CRM database with fake data?
Let's assume this is our schema:
```markdown
- Person
    - first_name
    - last_name
    - email
    - phone
    - address
    - city
    - state
    - zip
    - country
    - company
    - job_title
    - notes
```
and we want to populate it with synthetic data. We can use faker as shown below to do this.

In [1]:
from faker import Faker
import pandas as pd
import random
import datetime
# remove the pandas limit for viewing columns
pd.set_option('display.max_columns', None)
fake = Faker()

# number of records to generate
n_records = 1000

# set to track unique account numbers
account_numbers = set()

def get_unique_account_number():
    while True:
        account_number = fake.unique.random_number(digits=10)
        if account_number not in account_numbers:
            account_numbers.add(account_number)
            return account_number

# create a list of dictionaries, each representing a unique user
data = []
for _ in range(n_records):
    account_number = get_unique_account_number()
    data.append({
        'first_name': fake.first_name(),
        'last_name': fake.last_name(),
        'account_number': account_number,
        'email': fake.email(),
        'phone_number': fake.phone_number(),
        'address': fake.address().replace('\n', ', '),
        'city': fake.city(),
        'state': fake.state(),
        'zipcode': fake.zipcode(),
        'date_of_birth': fake.date_of_birth(minimum_age=18, maximum_age=90),
        'amount': round(random.uniform(1000, 10000), 2),
        'account_name': fake.company(),
        'account_email': fake.company_email(),
        'account_phone': fake.phone_number(),
        'account_address': fake.address().replace('\n', ', '),
        'account_city': fake.city(),
        'account_state': fake.state(),
        'account_zipcode': fake.zipcode(),
        'account_status': random.choice(['active', 'inactive']),
        'account_start_date': fake.date_between(start_date='-5y', end_date='today'),
        'account_end_date': fake.date_between(start_date='today', end_date='+5y'),
        'account_amount': round(random.uniform(5000, 50000), 2),
    })

# create DataFrame from the list of dictionaries
CRM_df = pd.DataFrame(data)

In [2]:
# verify the dataframe
CRM_df.head()

,first_name,last_name,account_number,email,phone_number,address,city,state,zipcode,date_of_birth,amount,account_name,account_email,account_phone,account_address,account_city,account_state,account_zipcode,account_status,account_start_date,account_end_date,account_amount
0,Keith,Barry,5662865060,zperkins@example.net,(132)900-3828x561,"Unit 5612 Box 2455, DPO AA 86677",West Clarence,Washington,48910,1949-01-15,9156.02,Campbell LLC,williamsadam@johnson.com,120-673-4899x84380,"PSC 9915, Box 7886, APO AE 25478",Rowlandberg,Virginia,51973,active,2021-10-11,2024-04-23,21857.37
1,George,Vargas,9359942961,xanderson@example.net,558.534.6588x619,"1356 Jesse Glens, West Philip, MI 29167",West Dustinfurt,Vermont,68556,1960-08-23,2776.70,Thornton-Glover,christinepark@roach.net,3141852828,"7586 Michael Rest Suite 302, Randyport, PR 24711",North Abigailview,Minnesota,68755,active,2020-09-14,2027-04-05,14425.55
2,Cody,Williams,5440326881,ghughes@example.net,657.141.8952x4256,"82450 Weiss Summit, Lake Taraborough, FM 87423",West Mary,Maine,88094,1976-08-03,7884.05,"Sullivan, Phillips and Allen",willisdoris@smith-martin.org,250.778.8452x5058,"494 Robert Tunnel Apt. 270, Lake Nicole, UT 59582",Tiffanyland,Colorado,44229,active,2019-01-25,2026-08-12,19079.30
3,Melissa,King,7559899136,warnerlori@example.com,001-584-968-9706x074,"005 Ann Centers Suite 761, New Emma, GU 26945",Jamesland,Iowa,98732,1975-05-24,7704.80,Hill-Alvarado,hmiddleton@henson.com,+1-967-215-1623x23233,"PSC 9803, Box 0774, APO AP 91248",New Gabriella,Washington,58859,active,2021-03-11,2023-09-06,28086.71
4,Phillip,Carter,8121878329,kelly15@example.org,954.705.0316,"7065 Peter Tunnel, Garciafurt, ID 66610",Elizabethhaven,Maryland,20268,1993-05-29,6924.50,Russell-Berry,colondouglas@pena.com,977-992-9881x60502,"6465 Landry Terrace, North Jasonstad, ID 83899",Port Michaelport,Iowa,75918,inactive,2022-07-18,2027-09-08,7854.20